@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

.comment-input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.comment-btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #e65c0c 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #e65c0c);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
